# Global default owners (all files)
* @Donchen22 @extremenetworks/da4-0-rw

# Assign a specific user for a particular directory
# /config/ @config-maintainer

# Assign multiple owners to a specific file
# README.md @user1 @user2

# Assign a user for all Helm chart files
# charts/* @helm-admin